<!doctype html>
<html>

<head>
    <title>Previous Predictions</title>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/croppr.css">
    <link rel="stylesheet" href="/stylesheets/cropper.css">
    <link rel="stylesheet" href="/stylesheets/prevprediction.css">
    <link rel="stylesheet" href="/stylesheets/cards-gallery.css">
</head>

<body>

    <div id="loadingPredict" style="display: none"></div>

    <!-- Navigation Bar -->
    <% include partials/home-header %>
    <div class="container">
        <div class="row div">
            <!-- Tabbed Interface -->
            <ul class="nav nav-tabs md-tabs tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active tab-a" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Validated Predictions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  tab-a" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Predictions to be validated</a>
                </li>
                <li>
                    <a aria-pressed="true" data-toggle="tooltip" data-placement="bottom"
                        title="Go Back to View Experiments" class="custombtn btn-primary btn-lg"
                        href="/viewExperiment/<%= id %>" role="button" style="
                margin-left: 76px;">
                        <i class="fas fa-angle-double-left"></i></a>
                </li>
            </ul>

        </div>
        <div class="tab-content" id="myTabContent">
            <!-- Validated Predictions Content -->
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row rowmargin">

                    <% for (var i = 0; i < data.length; i++) { %>

                    <% if (data[i].exp_validate == 1 && data[i].user_validate) { %>
                    <div class="col-md-4 gap">
                        <div class="img-responsive img-thumbnail">
                            <a href="viewExperiment/<%= data[i].exp_id %>"></a>
                            <img class="scaled" src="/uploads/<%= data[i].img %>">
                            <p class="fileName all-p"><b > <%= data[i].img %> </b></p>
                            <% if (data[i].user_validate == "No" && data[i].exp_type == "CONTROL") { %>
                            <p class="actualtop all-p log-font">Actual : <b class="case"> MUTANT</b></p>
                            <% } else if (data[i].user_validate == "No" && data[i].exp_type == "MUTANT") { %>
                            <p class="actualtop all-p log-font">Actual : <b class="case"> CONTROL</b></p>
                            <% } else { %>
                            <p class=" actualtop all-p log-font">Actual : <b class="case"> <%= data[i].exp_type %></b></p>
                            <% } %>
                            <p class="all-p log-font">Predicted : <b class="case"> <%= data[i].exp_type %></b></p>
                            <p class="all-p log-font">Training Algorithm : <b class="case"> VGG-16</b></p>
                            <p class="all-p log-font" >Probabilities : <b > <%= data[i].pred_percentage %> </b></p>

                            <p class="all-p log-font" >Prediction On : <b> <%= data[i].created_at %> </b></p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- To Be Validated Predictions Content -->
                <div class="row rowmargin">
                    <section class="gallery-block cards-gallery">
                        <div class="container">
                            <div class="row">
                                <% for (var i = 0; i < data.length; i++) { %>
                                    <% if (data[i].exp_validate == 0 && !data[i].user_validate) { %>
                                <div class="col-md-4 gap">
                                    <div class="card border-0 transform-on-hover">
                                        <a class="lightbox" href="/prediction/view/validate/<%= data[i].exp_id %>">
                                            <img src="/uploads/<%= data[i].img %>" alt="Card Image"
                                                class="card-img-top scaled">
                                        </a>
                                        <div class="card-body-prevpred">
                                                <p class="fileName all-p"><b > <%= data[i].img %> </b></p>
                                            <a href="#" class="all-p log-font">Predicted :
                                                    <b><%= data[i].exp_type %></b></a>
                                                    <p class="all-p log-font">Training Algorithm : <b class="case"> VGG-16</b></p>
                                                    <p class="all-p log-font">Probabilities : <b > <%= data[i].pred_percentage %> </b></p>
                                                    <p class="all-p log-font">Prediction On : <%= data[i].created_at %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <% } %></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>
    <script src="/javascripts/viewexperiment.js"></script>
    <script src="/javascripts/prevprediction.js"></script>
    <script src="/javascripts/croppr.js"></script>
    <script src="/javascripts/cropper.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>