<!doctype html>
<html>

<head>
    <title>View Experiment</title>
    <% include partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/cropper.js"></script>
    <link href="/stylesheets/croppr.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/viewexperiment.css">
    <link href="/stylesheets/cropper.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/cards-gallery.css" />
    <link rel="stylesheet" href="/stylesheets/prevprediction.css" />
</head>

<body>
    <!-- Display loading gif till the async call does not return a response -->
    <div id="loadingPredict" style="display: none"></div>

    <!-- Navigation Bar -->
    <% include partials/adminViewExpHeader %>
    <% if(data.length == 0){ %>
    <a href="/Home">
        <button class="btn btn-primary delAllImages" type="button">
            Experiment has been removed. Click here to go to homepage
        </button></a>
    <% } else { %>

    <div class="container">
        <!-- 1st row buttons -->
        <div class="heading" style="margin-top: 11%;margin-bottom: -8%;">
            <h2>
                Experiment: <%= data[0].exp_title %>
            </h2>
            <hr class="mt-2 mb-1" />
        </div>
        <!-- Display images -->
        <div class="row viewexp-topmargin">

            <!-- Fetch images from the database -->
            <% for (let i = 0; i < data.length; i++) { %>
            <div class="col-md-3" style="margin: 70px 0 10px 0;">
                <div class="img-thumbnail">
                    <div class="fileName">
                        <p>Name: <b> <%= data[i].exp_images%></b></p>
                        <p>Prediction: <b><%= data[i].prediction %></b></p>
                        <a href="#" class="pop1">
                            <img class="scaled image" src="/uploads/<%= data[i].exp_images %>" style="width: 100%;">
                        </a>
                    </div>
                </div>
                <div class="modal fade" id="imagemodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span><span
                                        class="sr-only">Close</span></button><br />
                                <p class="modalFileName1 all-p"></p>
                                <img src="/uploads/34749097.jpg" class="imagepreview1" style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>

    <!-- View Experiment MetaData -->
    <div aria-hidden="true" aria-labelledby="experiment_details" class="modal" id="experiment_details" role="dialog"
        role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Experiment Details</h3>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table>
                        <tr>
                            <th>Title:&nbsp;</th>
                            <td><%= data[0].exp_title %></td>
                        </tr>
                        <tr>
                            <th>Date:&nbsp;</th>
                            <td><%= data[0].exp_date %></td>
                        </tr>
                        <% var misc_data =  data[0].exp_misc_data;
                            var new_misc = JSON.parse(misc_data);
                            for (var key in new_misc) { %>
                        <tr>
                            <th><%= key %>:&nbsp;</th>
                            <td><%= new_misc[key] %></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <% include partials/footer %> -->

    <script src="/javascripts/viewExperiment.js"></script>
    <script src="/javascripts/croppr.js"></script>
    <script src="/javascripts/cropper.js"></script>
    <script>
        // $('#model').selectpicker();

        $(".dropdown-toggle").on("mouseenter", function () {
            // make sure it is not shown:
            if (!$(this).parent().hasClass("show")) {
                $(this).click();
            }
        });

        $(".btn-group, .dropdown").on("mouseleave", function () {
            // make sure it is shown:
            if ($(this).hasClass("show")) {
                $(this).children('.dropdown-toggle').first().click();
            }
        });

        $(function () {
            $(".pop1").on("click", function () {
                $(".imagepreview1").attr(
                    "src",
                    $(this)
                    .find("img")
                    .attr("src")
                );
                var imgName = $(this)
                    .find("img")
                    .attr("src")
                    .replace("/uploads/", "");
                $(".modalFileName1").css("display", "block");
                $(".modalFileName1").text(imgName);
                $("#imagemodal1").modal("show");
            });
        });
    </script>
</body>

</html>