<!DOCTYPE html>
<html>
  <head>
    <title>Customize Inputs</title>
    <% include partials/head %>
    <link
      href="/stylesheets/selectModel.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <br /><br /><br />
    <% include partials/home-header %>
    <div class="container">
      <div class="add-categories content-container">
        <!-- progress bar -->
        <div class="progress-container">
          <div class="progress-track"></div>
          <div class="progress-track-completed step3"></div>
          <div class="complete-bullet"></div>
          <div class="complete-text">
            <span class="step-text">Complete</span>
          </div>
          <div id="step1" class="progress-step-complete">
            <span class="step-text">Choose model</span>
          </div>
          <div id="step2" class="progress-step-complete">
            <span class="step-text">Select data</span>
          </div>
          <div id="step3" class="progress-step-complete">
            <span class="step-text">Customize inputs</span>
          </div>
          <div id="step4" class="progress-step">
            <span class="step-text">Name+train</span>
          </div>
        </div>
        <h1 class="step-title">3. Customize model inputs (optional)</h1>
        <div class="step-container params-content">
          <h4 class="step-directions">
            Set model inputs below (optional)
          </h4>
          <a
            onclick="window.open('https://towardsdatascience.com/epoch-vs-iterations-vs-batch-size-4dfb9c7ce9c9', '_blank', 'top=100 left=300,width=800,height=500');"
            href="/params"
            >what are these hyperparameters?</a
          >
          <p>
            projectName=<%= projectName%> trainSize=<%= trainSize%> testSize=<%=
            testSize%>
          </p>

          <form
            class="params-form"
            id="params-form"
            method="POST"
            action="/params"
          >
            epoch: <input type="number" name="epoch" min="1" max="20" value=
            <%=epoch%>>
            <br />
            <br />
            train_batch_size: <input type="number" name="train_batch_size"
            min="1" max=<%= trainSize%> value= <%= train_batch_size%>>
            <br />
            <br />
            test_batch_size: <input type="number" name="test_batch_size" min="1"
            max=<%=testSize%> value= <%= test_batch_size%>>
            <br />
            <br />
            <button type="button" id="advanced-input-button">
              advanced inputs
            </button>
            <br />
            <br />
            <div id="advanced-input-container" style="display:none">
              optimizer:
              <select name="optimizer" value= <%= optimizer%>> form="params-form">
                <option value="Adam" <%= optimizer == "Adam"? "selected" : "" %>>Adam</option>
                <option value="SGD" <%= optimizer == "SGD" ? 'selected' : '' %>>SGD</option>
              </select>
              <br />
              <br />
              learning rate: <input type="number" name="learningRate"
              min="0.00001" max="0.01" step="any" value= <%= learningRate%>>
            </div>
            <br />
            <button class="params-submit-button btn btn-block" type="submit">
              Submit
            </button>
          </form>

          <!-- <button id="advanced-input-button">advanced inputs</button> -->
        </div>
        <!-- <br>
            <a href="/upload">Go back to upload data</a>
            <br>
            <a href="/nameModel">next </a> -->
        <div class="footer-nav">
          <a href="/upload">
            <button class="nav-button">
              Prev
            </button>
          </a>
          <a href="/nameModel">
            <button id="next-button" class="nav-button next-button">
              Next
            </button>
          </a>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("advanced-input-button")
        .addEventListener("click", function() {
          var element = document.getElementById("advanced-input-container");
          if (window.getComputedStyle(element).display === "block") {
            element.style.display = "none";
          } else {
            element.style.display = "block";
          }
        });
      
      document.getElementById("next-button").addEventListener("click", function(event){
            event.preventDefault();
            //form submission logic goes here
            document.forms["params-form"].submit();

            //redirect to next page
            window.location.href = "/nameModel";
        });
    </script>
    <% include partials/footer %>
  </body>
</html>
