<!doctype html>
<html>

<head>
    <title>Previous Predictions</title>
    <% include partials/head %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/croppr.css">
    <link rel="stylesheet" href="/stylesheets/cropper.css">
    <link rel="stylesheet" href="/stylesheets/prevprediction.css">
    <link rel="stylesheet" href="/stylesheets/cards-gallery.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div id="loadingPredict" style="display: none"></div>

    <!-- Navigation Bar -->
    <% include partials/home-header %>
    <div class="container">
        <div class="row div">
            <!-- Tabbed Interface -->
            <ul class="nav nav-tabs md-tabs tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active tab-a" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Validated Predictions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  tab-a" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Predictions to be validated</a>
                </li>
                <li>
                    <a aria-pressed="true" data-toggle="tooltip" data-placement="bottom"
                        title="Go Back to View Experiments" class="custombtn btn-primary btn-lg"
                        href="/viewExperiment/<%= id %>" role="button" style="
                margin-left: 76px;">
                        <i class="fas fa-angle-double-left"></i></a>
                </li>
            </ul>
        </div>
        <div class="rowmargintop">
            <div class="row">
            Filter Results By Keyword: <input
                type="search"
                id="container-search"
                value=""
                class="form-control"
                placeholder="Search Experiment by Title/Model/Accuracy"
                onkeyup="searchPrevExpFunc()"
              />    </div>
              <div class="row date-filter">
            Filter Results By Date: <input type="date" id="txtDate" onchange="filterByDateFunc()">
        </div>
            </div>
            <p class="count-rst" id="count-result"></p>
        <div class="tab-content" id="myTabContent">
            <!-- Validated Predictions Content -->
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row rowmargin">
                        <p class="show-msg" id="show-message">No result found.</p>
                    <% var j = -1; %>
                    <% for (var i = 0; i < data.length; i++) { %>

                    <% if (data[i].exp_validate == 1 && data[i].user_validate) { %>
                        <% j += 1; %>
                    <div class="col-md-4 gap" id = "filter-div-<%= j %>">      
                            <div class="img-responsive img-thumbnail">
                                <img class="scaled image" src="/uploads/<%= data[i].img %>">
                                <div class="middle">
                                        <% if (data[i].user_validate == "No") { %>
                                            <div class="text-cross"><i class="fa fa-times"></i></div>
                                        <% } else { %>
                                            <div class="text-check"><i class="fa fa-check"></i></div>
                                            <% } %>
                                </div>
                            <p class="fileName all-p"><b > <%= data[i].img %> </b></p>
                            <% if (data[i].user_validate == "No" && data[i].exp_type == "CONTROL") { %>
                            <p class="actualtop all-p log-font">Actual : <b class="case"> MUTANT</b></p>
                            <% } else if (data[i].user_validate == "No" && data[i].exp_type == "MUTANT") { %>
                            <p class="actualtop all-p log-font">Actual : <b class="case"> CONTROL</b></p>
                            <% } else { %>
                            <p class=" actualtop all-p log-font">Actual : <b class="case"> <%= data[i].exp_type %></b></p>
                            <% } %>
                            <p class="all-p log-font">Predicted : <b class="case"> <%= data[i].exp_type %></b></p>
                            <p class="all-p log-font">Training Algorithm : <b class="case"> VGG-16</b></p>
                            <p class="all-p log-font" >Probabilities : <b > <%= data[i].pred_percentage %> </b></p>

                            <p class="all-p log-font" id="search-container-<%= j %>">Prediction On : <b> <%= data[i].created_at %> </b></p>
                            </a>
                    </div>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- To Be Validated Predictions Content -->
                <div class="row rowmargin">
                    <section class="gallery-block cards-gallery">
                        <div class="container">
                            <div class="row">
                                <% for (var i = 0; i < data.length; i++) { %>
                                    <% if (data[i].exp_validate == 0 && !data[i].user_validate) { %>
                                <div class="col-md-4 gap">
                                    <div class="card border-0 transform-on-hover">
                                        <a class="lightbox" href="/prediction/view/validate/<%= data[i].exp_id %>">
                                            <img src="/uploads/<%= data[i].img %>" alt="Card Image"
                                                class="card-img-top scaled">
                                        </a>
                                        <div class="card-body-prevpred">
                                                <p class="fileName all-p"><b > <%= data[i].img %> </b></p>
                                            <a href="#" class="all-p log-font">Predicted :
                                                    <b><%= data[i].exp_type %></b></a>
                                                    <p class="all-p log-font">Training Algorithm : <b class="case"> VGG-16</b></p>
                                                    <p class="all-p log-font">Probabilities : <b > <%= data[i].pred_percentage %> </b></p>
                                                    <p class="all-p log-font">Prediction On : <b> <%= data[i].created_at %></b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <% } %></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>
    <script src="/javascripts/viewexperiment.js"></script>
    <script src="/javascripts/prevprediction.js"></script>
    <script src="/javascripts/croppr.js"></script>
    <script src="/javascripts/cropper.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        
        $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
    $('#txtDate').attr('max', maxDate);
});
function filterByDateFunc() {
        var input = document.getElementById("txtDate");
        // filter = input.value.replace(/-/gi,"/");
        var filter = input.value;
        var showflag = false;
        var countResult = 0
        var initial = filter.split("-");
        filter = [ initial[1], initial[2], initial[0] ].join('/');
        for (var k = 0; k < $(".img-responsive").length; k++) {
          //   var searchableDiv = document.getElementById("searchable-container-" + i);
          var searchableDiv = document
            .getElementById("search-container-" + k).innerText.trim();
          if (searchableDiv.indexOf(filter) <= -1) {
            $("#filter-div-" + k).css("display", "none");
          } else{
            $("#filter-div-" + k).css("display", "");
            showflag = true;
            countResult += 1;
            document.getElementById("count-result").innerHTML = "Found " + countResult + " results.";
          }
        }
        if(showflag == false){
            $("#count-result").css("display", "none");
            $(".show-msg").css("display", "block");

        }else{
            $("#count-result").css("display", "block");
            $(".show-msg").css("display", "none");
        }
      }

      function searchPrevExpFunc() {
        var input = document.getElementById("container-search");
        filter = input.value.toLowerCase();
        for (var k = 0; k < $(".img-responsive").length; k++)  {
          //   var searchableDiv = document.getElementById("searchable-container-" + i);
          var searchableDiv = document
            .getElementById("filter-div-" + k)
            .children[0].innerText.toLowerCase()
            .trim();
          if (searchableDiv.indexOf(filter) <= -1) {
            $("#filter-div-" + k).css("display", "none");
          } else {
            $("#filter-div-" + k).css("display", "");
          }
        }
      }
    </script>
</body>

</html>